.cm-keyword {
  color: $h-html !important;
}

.cm-builtin {
  color: $h-html !important;
}

.cm-keyword {
  color: $h-html !important;
}

.cm-tag {
  color: $h-html !important;
}

.cm-attribute {
  color: $h-attribute !important;
}

.cm-error {
  color: $h-error !important;
}

.cm-string {
  color: $h-string !important;
}
