//Datetime extension
span {
  &[type~='dt'] {
    font-size: 16px;
    color: $dt-color;
    transition: 0.4s color;
    &:hover {
      color: $dt-hover;
    }
  }
  &[type~='dt-about'] {
    &::before {
      content: '~';
      font-size: 20px;
      animation: a 1s alternate infinite;
    }
  }
}

@keyframes a {
  from {
    color: #928ac9;
  }
  to {
    color: #4f41ac;
  }
}
