//Colors:
$border-color: #999999;
$box-shadow-color: #767676;

$title-color: #6a6a6a;

$gray-text: #656565;

//Link
$link: #794dd3;
$link-hover: #8d60e9;
$link-disabled: #553596;

//Tooltip
$tooltip-background: #161616;

//Nav File -> Заметка в доке слева
$nav-is-active-color: #282828;

//Folders | Categories
$nav-folder-dragged: #333333;
$nav-folder-dragged-border: #3c3c3c;

//List Box
$list-box-border: #363636;
$list-box-title: #616161;
$list-box-underline: #494949;
$list-box-tilda: #7f7f7f;

//Code Highlight
$h-html: #408bd7;
$h-attribute: #7c9cba;
$h-error: #ad5868;
$h-string: #8b8b8b;

$tag-color: #8057d4;
$tag-color-hover: #8e61eb;
$tag-disabled: #3e3388;

//Important
$important-color: #b45252;
$important-hover: #da7575;
