@import '../af.constants.scss';

h1[type='header'] {
  color: $gray-text;
  text-align: center;
  transition: 0.5s all;
  opacity: 0.7;
  border: 2px solid $border-color;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 2px $box-shadow-color;
  padding: 6px 0;
  user-select: none;

  &::before {
    content: '[~] ';
    color: $title-color;
  }

  &::after {
    content: ' [~]';
    color: $title-color;
  }

  &:hover {
    opacity: 1;
  }
}
