input[type='checkbox'] {
  transform: translateY(-1px);
}

.is-checked {
  text-decoration: none !important;
  & span[type='dt'] {
    color: $dt-disabled;
  }
  & span[type='important'] {
    color: $dt-important;
  }
  & span[type='contrast'] {
    color: #3e3e3e !important;
    background-color: #bbbbbb;
  }
  .tag {
    color: $tag-disabled;
  }
}
